<div class="surface-ground px-4 py-8 md:px-6 lg:px-8 min-h-screen flex align-items-center justify-content-center">
    <div class="flex flex-column">
        <div class="text-center mb-5">
            <div class="flex align-items-center justify-content-center bg-primary-100 border-circle w-6rem h-6rem mx-auto">
                <i class="pi pi-trash text-4xl text-primary"></i>
            </div>
            <div class="text-900 font-bold text-3xl mt-3 mb-2">Zie je zwerfafval?</div>
            <p class="text-700 text-xl mb-5">Met één foto laat je ons weten waar het ligt.</p>
        </div>
        <div>
            <p-button label="🚀 Start melding" (onClick)="start()" styleClass="p-button-lg"></p-button>
        </div>
        <div class="mt-6">
            <p-card>
                <div class="text-center">
                    <p class="text-sm">Meldingen worden direct naar de gemeente gestuurd</p>
                    <div class="flex align-items-center justify-content-center gap-2 text-xs">
                        <i class="pi pi-shield-check text-green-600"></i>
                        <span>Veilig en anoniem</span>
                    </div>
                </div>
            </p-card>
        </div>
    </div>
</div>