<p-button label="Sluiten" (click)="closeDetail()" />

<div *ngIf="dashboardItemStore.selectedNotification() as item">
  <app-detail-header
  [status]="getReadableStatus(item.status)"
  [createdAt]="item.createdAt"
  [comment]="item.comment">
  </app-detail-header>
</div>

<div class="card">
    <p-tabs value="0" (valueChange)="onTabChange($event)">
        <p-tablist>
            <p-tab value="0">Foto</p-tab>
            <p-tab value="1" (valueChange)="onTabChange($event)">Kaart</p-tab>
            <p-tab value="2">Tijdlijn</p-tab>
        </p-tablist>
        <p-tabpanels>
          <p-tabpanel value="0">
            <div *ngIf="dashboardItemStore.selectedNotification() as item">
              <h1>Foto voor melding met id: {{ item.id }}</h1>
              <p-image [src]="imageStore.image()" alt="Image" class="mapp" height="400"></p-image>
            </div>
          </p-tabpanel>

          <p-tabpanel value="1">
            <div class="sizepanel">
              <h1>Kaart voor melding met id: {{ selection.selectedId() }}</h1>
              <app-shared-kaart
                  class="h-full w-full"
                  [locaties]="dashboardItemStore.selectedNotification() ? [dashboardItemStore.selectedNotification()] : []"
                  [geselecteerdeLocatie]="dashboardItemStore.selectedNotification()">
              </app-shared-kaart>
            </div>
          </p-tabpanel>

          <p-tabpanel value="2">

          <app-tijdlijn-element [notificaties]="notificatieStore.notificaties()"></app-tijdlijn-element>
            <div class="sizepanel">
              <p>Update status</p>
              <div>
                <p-select [options]="states" [(ngModel)]="selectedStatus" optionLabel="status" optionValue="status" placeholder="Selecteer een status" class="w-full md:w-56" />
              </div>
              <p>Voeg opmerking toe</p>
              <textarea rows="5"cols="30" pTextarea [autoResize]="true" [(ngModel)]="notitie"></textarea>
              <div>
                <p-button label="Update" (click)="onUpdateStatus()"/>
              </div>
            </div>
          </p-tabpanel>
         </p-tabpanels>
