.afval-melden-container {
  background-color: var(--surface-50);
}

.afval-melden-header {
  background-color: var(--surface-0);
  box-shadow: var(--shadow-sm);
}

.afval-melden-title {
  color: var(--primary-800);
}