<div class="afval-detectie-container">
  <div class="header-sectie">
    <h1>Zwerfafval Melden</h1>
    <p class="uitleg">
      Maak een foto van zwerfafval. De app herkent automatisch wat voor afval het is.
    </p>
  </div>
  
  <div class="foto-sectie">
    <app-foto-opname 
      (fotoGemaakt)="verwerkGemaakteFoto($event)" 
      (afvalHerkend)="verwerkAfvalHerkenning($event)">
    </app-foto-opname>
  </div>
  
  <mat-card class="overzicht-card" *ngIf="heeftAfvalSoorten()">
    <mat-card-header>
      <mat-card-title>
        <mat-icon>check_circle</mat-icon>
        Afval herkend
      </mat-card-title>
      <mat-card-subtitle>
        {{ afvalSoorten().length }} soort(en) afval gevonden
      </mat-card-subtitle>
    </mat-card-header>
    
    <mat-card-content>
      <mat-chip-listbox>
        <mat-chip-option 
          *ngFor="let afvalSoort of afvalSoorten()" 
          selected="true"
          disabled="true">
          {{ afvalSoort }}
        </mat-chip-option>
      </mat-chip-listbox>
    </mat-card-content>
    
    <mat-card-actions align="end">
      <button mat-button (click)="resetAlles()">
        <mat-icon>refresh</mat-icon>
        Opnieuw
      </button>
      <button 
        mat-raised-button 
        color="primary"
        (click)="meldAfval()"
        [disabled]="!kanMelden()">
        <mat-icon>send</mat-icon>
        Meld dit afval
      </button>
    </mat-card-actions>
  </mat-card>
</div>