<!-- Mobile-first Introductie Pagina -->
<div
  class="flex flex-col items-center justify-center text-center p-4 space-y-4"
>
  <!-- Heading -->
  <h1 class="text-2xl font-bold text-primary">Zwerfafval gevonden?</h1>

  <img
    src="https://th.bing.com/th/id/R.20b3595fba24b9dfaf35fd57ef58dabc?rik=4Y%2fygPDdinrmJA&pid=ImgRaw&r=0"
    alt=""
    class="w-50 max-w-16rem"
  />
  <!-- Description -->
  <p class="text-base text-color-secondary">
    Maak een foto en de gemeente ruimt het op!
  </p>

  <!-- Start Button -->
  <p-button
    label="Maak een foto"
    icon="pi pi-camera"
    size="large"
    styleClass="w-full max-w-xs"
    (onClick)="onStarten()"
  ></p-button>

  <!-- Bottom Info -->
  <p-tag severity="info" icon="pi pi-shield-check" class="text-xsm"
    >Veilig en eenvoudig afval melden</p-tag
  >
</div>
