<div class="max-w-4xl mx-auto p-4">
  <p-card class="shadow-md">
    <ng-template pTemplate="header">
      <div class="p-4">
        <p-steps
          [model]="stepBuilder.menuItems()"
          [activeIndex]="stepBuilder.activeIndex()"
          [readonly]="false"
          class="mb-0"
        />
      </div>
    </ng-template>

    <div class="p-4">
      @switch (stepBuilder.activeIndex()) {
        @case (0) {
          <app-start-stap />
        }
        @case (1) {
          <app-foto-stap />
        }
        @case (2) {
          <app-locatie-stap />
        }
        @case (3) {
          <app-contact-stap />
        }
        @case (4) {
          <app-controle-stap />
        }
        @case (5) {
          <app-succes-stap />
        }
      }
    </div>
  </p-card>
</div>
